@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

html {
    scroll-behavior: smooth;
}

.hero-wrapper {
    height: 350px;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.btn:hover {
    color: #ffffff;
    background-color: #0da10d;
}

* {
    box-sizing: border-box;
}

input:focus, textarea {
    outline: none;
}

/*------------------------------------------------Navbar*/

.navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3em;
}

.navbar-collapse {
    margin-top: 24px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*------------------------------------------------Hero Image*/

.hero-image {
    height: 30vh;
    max-width: 100%;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.1)), url("../img/food.jpeg") no-repeat top center;
    background-size: contain;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

/*------------------------------------------------Search Bar*/

.search-wrapper {
    height: 20vh;
    position: relative;
    justify-content: center;
    margin-top: -10vh;
    display: flex;
}

.search-box {
    width: 575px;
    max-width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.search-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #75b96c;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.search-subtitle {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #929293;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.search-bar {
    text-align: center;
    margin-top: 30px;
}

#ingredients {
    height: 38px;
    width: 75%;
    border-radius: 2px 0 0 2px;
    border: 1px solid #929293;
    color: #929293; 
    margin-right: -3px;
    box-sizing: border-box;
    resize: vertical;
}

.search {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    background-color: #75b96c;
    margin-top: -3px;
    border-radius: 0 2px 2px 0;
    margin-left: -3px;
    color: #ffffff;
}

/*------------------------------------------------Recipe Cards*/

.main-section {
    min-height: 55vh;
}

#recipe {
    padding: 50px;
}

.recipe-card {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 10px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.01);
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.card-image {
    max-width: 100%;
    background: no-repeat center center fixed;
    overflow: hidden;
    object-fit: cover;
}

.card-title-box {
    text-align: center;
    width: 100px;
    height: 30px;
}

.card-title {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    color: #929293;
    margin: 12px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.pagination-container {
    height: 10vh;
}

.pagination-button {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    background-color: #75b96c;
    border-radius: 2px;
    color: #ffffff;
}

#previous {
    float: right;
}

.disable {
    background-color: #929293;
    pointer-events: none;
    cursor: default;
}

.disable:hover {
    text-decoration: none;
}

/*------------------------------------------------About Section*/

.about-section {
    height: 75vh;
    background: url("../img/about-section.jpeg") no-repeat center right;
    overflow: hidden;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    text-align: center;
}

.about-content {
    padding: 20px;
}

.about-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-text {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about-link-1,
#about-link-2 {
    color: darkgreen;
    text-decoration: none;
}

#about-link-1:hover,
#about-link-2:hover {
    color: black;
    text-decoration: none;
}

/*------------------------------------------------Contact Section*/

.contact-section {
    height: 75vh;
    background-color: #929293;
    text-align: center;

}

.contact-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-control {
    margin-top: 10px;
}

.submit {
    margin-top: 8px;
}

/*------------------------------------------------footer*/

.footer {
    height: 10vh;
    background-color: #333333;
}

/*------------------------------------------------Media Queries*/

/* I tried to avoid using a media query for smaller devices,
    however, because of the positioning of the search box,
    using media queries to deal with the content sizing proved
    to be the only way to make the site responsive on devices
    with a max width of 576px. */
    
@media screen and (max-width: 576px) {
    html {
        font-size: 10px;
    }

    .hero-image {
        height: 200px;
    }  

    .search-box {
        width: 200px;
    }

    .search-title {
        font-size: 12px;
    }

    .search-subtitle {
        font-size: 8px;
    }

    #ingredients {
        height: 24px;
    }
}