@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

html {
    scroll-behavior: smooth;
}

.hero-wrapper {
    height: 350px;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

/*------------------------------------------------Content*/



/*------------------------------------------------Navbar*/

.navbar-toggler {
    border: 0;
}

.navbar {
    margin: 0 30px;;
    
}

.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
}

.navbar-collapse {
    margin-top: 24px;
}

.nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*------------------------------------------------Hero Image*/

.hero-image {
    height: 33vh;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.1)), url("/assets/img/food.jpeg") no-repeat top center;
    background-size: cover;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;

}

/*------------------------------------------------Search Bar*/

.search-wrapper {
    position: relative;
    justify-content: center;
    margin-top: -150px;
    display: flex;
}

.search-box {
    width: 750px;
    max-width: 100%;
    min-height: 200px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.search-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #75b96c;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.search-subtitle {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #929293;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.search-bar {
    text-align: center;
    margin-top: 30px;
}

#ingredients {
    height: 38px;
    width: 75%;
    border-radius: 2px 0 0 2px;
    border: 1px solid #929293;
    color: #333333;
    margin-right: -3px;
}

.search {
    background-color: #75b96c;
    margin-top: -3px;
    border-radius: 0 2px 2px 0;
    margin-left: -3px;
}

/*------------------------------------------------Recipe Cards*/

.main-section {
    height: 66vh;
    align-items: center;
}

#recipe {
    height: 66vh;
    margin: 60px 0;
    padding: 0 50px;
}

.recipe-card {
    display: inline-block;
    margin: 30px 10px 0px;
}

.card-image {
    width: 250px;
    height: 150px;
    background: no-repeat center center fixed;
    overflow: hidden;
    object-fit: cover;
}

.card-title-box {
    width: 150px;
    height: 30px;
}

.card-title {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    color: #929293;
    margin: 12px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}


.pagination-button {
    background-color: #75b96c;
    border-radius: 2px;
    position: absolute;
}

/*------------------------------------------------About Section*/

.about-section {
    height: 100vh;
    background: url("/assets/img/about-section.jpeg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    text-align: center;
}

.about-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-content {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*------------------------------------------------Contact Section*/

.contact-section {
    height: 50vh;
    background-color: #929293;
    text-align: center;

}

.contact-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*------------------------------------------------Contact Section*/

.footer {
    height: 10vh;
    background-color: #333333;
}

/*------------------------------------------------Media Queries*/

@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 32px;
    }

    .hero-image {
        height: 250px;
    }

    .recipe-card {
        display: block;
    }

    #recipe {
        padding: 20px;
        margin: 0;
    }
}

.error-text {
    
}